@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap');


.delius-unicase-regular {
  font-family: "Delius Unicase", cursive;
  font-weight: 400;
  font-style: normal;
}

.delius-unicase-bold {
  font-family: "Delius Unicase", cursive;
  font-weight: 700;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    font-family: "Delius Unicase";
}


